<nav style="background-color: #5eb5e0;" class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get('_route')  == 'homepage' %}active{% endif %}">
                <a class="nav-link"  href="{{ path('homepage') }}">
                    {{ 'NAV.HOME'|trans }}
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route')  == 'term_of_service' %}active{% endif %}">
                <a class="nav-link" href="{{ path('term_of_service') }}">
                    {{ 'NAV.TERMS'|trans }}
                </a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h3>{{ 'NAV.LOGGED_AS'|trans({'%name%' : app.user.getUsername()}) }}</h3>
                <li class="nav-item {% if app.request.attributes.get('_route')  == 'add_picture' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('add_picture') }}">
                        {{ 'NAV.ADDPICTURE'|trans }}
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route')  == 'app_logout' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        {{ 'NAV.LOGOUT'|trans }}
                    </a>
                </li>
            {% else %}
            <li class="nav-item {% if app.request.attributes.get('_route')  == 'app_register' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_register') }}">
                    {{ 'NAV.REGISTER'|trans }}
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route')  == 'app_login' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_login') }}">
                    {{ 'NAV.LOGIN'|trans }}
                </a>
            </li>

            {% endif %}
        </ul>
    </div>
</nav>